---
---

<div
  id="termsPopup"
  class="fixed inset-0 flex items-center justify-center z-[10002] hidden bg-black/80"
>
  <div
    class="bg-[#596a57]/50 backdrop-blur-md p-8 rounded-lg shadow-lg max-w-3xl w-full h-4/5 overflow-y-auto relative text-white"
  >
    <button
      id="closeTermsPopup"
      class="absolute top-4 right-4 text-white hover:text-gray-300 text-2xl"
      >&times;</button
    >
    <h2
      class="text-2xl font-bold mb-4 text-center"
      style="font-family: 'Poppins', sans-serif;"
    >
      Términos y Condiciones de Uso
    </h2>
    <p class="text-sm mb-4" style="font-family: 'Poppins', sans-serif;">
      Última actualización: 01 de septiembre de 2025
    </p>
    <p class="mb-4" style="font-family: 'Poppins', sans-serif;">
      Bienvenido(a) a Los Agapandos Tapalpa (en adelante, "La Página"). Al
      acceder, navegar y utilizar este sitio web para la reservación y renta de
      nuestras cabañas ecológicas, usted (en adelante, "El Usuario") acepta
      expresamente sujetarse a los presentes Términos y Condiciones de Uso. En
      caso de no estar de acuerdo con los mismos, le solicitamos abstenerse de
      utilizar nuestros servicios.
    </p>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      1. Objeto del Servicio
    </h3>
    <p class="mb-4" style="font-family: 'Poppins', sans-serif;">
      La Página pone a disposición de "El Usuario" la posibilidad de consultar
      disponibilidad, reservar y rentar cabañas ecológicas ubicadas dentro del
      Fraccionamiento Pinares Tapalpa, en Tapalpa, Jalisco.
    </p>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      2. Servicios de la(s) Cabaña(s)
    </h3>
    <ul
      class="list-disc list-inside mb-4"
      style="font-family: 'Poppins', sans-serif;"
    >
      <li>Concepto exclusivamente para descanso.</li>
      <li>
        Energía eléctrica proporcionada por paneles solares:
        <ul class="list-circle list-inside ml-4">
          <li>No hay televisión.</li>
          <li>
            Prohibido conectar aparatos de alto consumo o resistencias (ejemplo:
            secadoras de pelo, planchas, cafeteras eléctricas, parrillas, etc.).
          </li>
          <li>Permitido: laptops, cargadores, bocinas portátiles.</li>
        </ul>
      </li>
      <li>Agua caliente disponible las 24 horas (boiler de gas).</li>
      <li>
        Refrigerador de gas con congelador. (mantiene frescos los alimentos)
      </li>
      <li>
        Área verde exclusiva de más de 3,500 m² con juegos infantiles y cancha
        multiusos.
      </li>
    </ul>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      3. Cortesías Incluidas
    </h3>
    <ul
      class="list-disc list-inside mb-4"
      style="font-family: 'Poppins', sans-serif;"
    >
      <li>1 rollo de papel sanitario por baño, por estancia.</li>
      <li>1 garrafa de agua (5 L) por estancia.</li>
      <li>1 detergente biodegradable para trastes, por estancia.</li>
      <li>
        Leña:
        <ul class="list-circle list-inside ml-4">
          <li>Tarifa regular: 1 carga diaria.</li>
          <li>Tarifas promocionales: 1 carga por estancia.</li>
          <li>No se venden cargas adicionales.</li>
        </ul>
      </li>
    </ul>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      4. Reservaciones
    </h3>
    <p class="mb-4" style="font-family: 'Poppins', sans-serif;">
      La reservación quedará confirmada únicamente tras el pago del anticipo
      indicado en "La Página". El saldo restante deberá liquidarse en los plazos
      y condiciones señalados. "El Usuario" es responsable de proporcionar
      información veraz, completa y actualizada.
    </p>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      5. Personas Extras
    </h3>
    <ul
      class="list-disc list-inside mb-4"
      style="font-family: 'Poppins', sans-serif;"
    >
      <li>Máximo 2 personas adicionales por cabaña.</li>
      <li>Costo: $250 MXN por persona extra, por noche.</li>
      <li>Debe notificarse al momento de la reservación.</li>
      <li>
        Cada persona extra deberá traer su propio colchón inflable/sleeping bag
        y toalla.
      </li>
    </ul>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      6. Horas Extras
    </h3>
    <ul
      class="list-disc list-inside mb-4"
      style="font-family: 'Poppins', sans-serif;"
    >
      <li>Hora de salida: 12:00 p.m. sin tolerancia.</li>
      <li>A partir de las 12:01 p.m.: $200 MXN por hora por cabaña.</li>
      <li>
        Si se exceden más de 2 horas, se procederá a ingresar a la cabaña para
        recoger ropa de cama y toallas (estas deben enviarse a lavandería).
      </li>
    </ul>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      7. Reglamento Interno
    </h3>
    <ul
      class="list-disc list-inside mb-4"
      style="font-family: 'Poppins', sans-serif;"
    >
      <li>
        Fiestas y eventos: prohibidos. No se permite ingreso de grupos
        musicales, serenatas, retiros, activaciones o festejos.
      </li>
      <li>
        Música y ruido: Bocinas y equipos de sonido solo en bajo volumen.
        Después de las 10:00 p.m. prohibido en exteriores; en interiores solo
        con moderación.
      </li>
      <li>Uso de terrazas: convivencia tranquila después de las 10:00 p.m.</li>
      <li>Alcohol: permitido únicamente con moderación y respeto.</li>
      <li>
        Vehículos recreativos (cuatrimotos, ATV, razzers): Supervisión
        obligatoria si los conduce un menor. Velocidad máxima: 20 km/h.
        Prohibido circular en terrenos vecinos. El responsable deberá cubrir
        cualquier daño antes de salir del fraccionamiento.
      </li>
      <li>
        Áreas comunes: horario 9:00 a.m. – 9:00 p.m. Prohibido apartar espacios
        o ingresar bebidas alcohólicas.
      </li>
      <li>Kiosko: uso diurno, sin bebidas alcohólicas, no se puede apartar.</li>
      <li>Fogatero: prohibido todo el año por riesgo latente de incendio.</li>
      <li>
        Limpieza de cabaña: no incluye servicio diario (puede solicitarse,
        sujeto a disponibilidad).
      </li>
      <li>
        Limpieza de loza: toda la vajilla debe entregarse limpia; en caso
        contrario, se aplicará un cargo de $350 MXN.
      </li>
    </ul>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      8. Políticas Generales
    </h3>
    <ul
      class="list-disc list-inside mb-4"
      style="font-family: 'Poppins', sans-serif;"
    >
      <li>
        Depósito en garantía: $500 MXN por cabaña, reembolsable al entregar en
        buen estado.
      </li>
      <li>
        Personas no registradas: si ingresan sin autorización, se rescindirá el
        servicio sin reembolso alguno.
      </li>
      <li>
        Energía solar: el suministro depende del uso responsable del huésped. En
        caso de agotarse por abuso o negligencia, no se proporcionará energía
        adicional.
      </li>
      <li>
        Mascotas: se deberá consultar disponibilidad. En caso de llevar mascotas
        sin consultarlo peviamente, se podrá cancelar el servicio de renta sin
        reembolso alguno o solicitar pagar el excedente de la mascota. Queda a
        criterio de Los Agapandos Tapalpa el aplicar lo que considere mejor para
        las cabañas y sus huespedes.
      </li>
      <li>Fumar: prohibido dentro de las cabañas.</li>
      <li>
        Reglamentos: cualquier alteración al orden será causa de rescisión
        inmediata, sin reembolso alguno.
      </li>
      <li>
        Cancelaciones y reembolsos:
        <ul class="list-circle list-inside ml-4">
          <li>Más de 15 días antes: reembolso total.</li>
          <li>Entre 14 y 7 días: cargo del 50%.</li>
          <li>Menos de 7 días: sin reembolso.</li>
          <li>No show: sin devolución.</li>
        </ul>
      </li>
      <li>
        Importante: El pago por la renta no otorga derecho a realizar
        actividades distintas al hospedaje ni a alterar la tranquilidad del
        lugar.
      </li>
    </ul>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      9. Responsabilidades del Prestador
    </h3>
    <p class="mb-4" style="font-family: 'Poppins', sans-serif;">
      Los Agapandos Tapalpa se compromete a: Entregar cabañas en condiciones
      limpias, seguras y funcionales y a atender solicitudes razonables de "El
      Usuario". El Prestador no será responsable por: Accidentes derivados del
      mal uso de las instalaciones. Daños ocasionados por fenómenos naturales o
      de fuerza mayor.
    </p>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      10. Uso del Sitio Web
    </h3>
    <p class="mb-4" style="font-family: 'Poppins', sans-serif;">
      "El Usuario" se obliga a utilizar "La Página" de manera lícita y ética.
      Queda prohibido:
    </p>
    <ul
      class="list-disc list-inside mb-4"
      style="font-family: 'Poppins', sans-serif;"
    >
      <li>Usar "La Página" para fines fraudulentos.</li>
      <li>
        Realizar hackeos, envío de malware o actividades que comprometan su
        seguridad.
      </li>
    </ul>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      11. Privacidad y Protección de Datos
    </h3>
    <p class="mb-4" style="font-family: 'Poppins', sans-serif;">
      Los datos personales proporcionados por "El Usuario" serán tratados
      conforme a nuestro Aviso de Privacidad, disponible en "La Página".
    </p>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      12. Modificaciones
    </h3>
    <p class="mb-4" style="font-family: 'Poppins', sans-serif;">
      Los Agapandos Tapalpa podrá modificar en cualquier momento estos Términos
      y Condiciones. Las actualizaciones se publicarán en esta sección y tendrán
      vigencia inmediata.
    </p>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      13. Legislación Aplicable y Jurisdicción
    </h3>
    <p class="mb-4" style="font-family: 'Poppins', sans-serif;">
      Estos Términos y Condiciones se rigen por las leyes de los Estados Unidos
      Mexicanos. Cualquier controversia se someterá a los tribunales competentes
      de Guadalajara, Jalisco, renunciando las partes a cualquier otro fuero que
      pudiera corresponderles.
    </p>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      14. Aceptación
    </h3>
    <p class="mb-4" style="font-family: 'Poppins', sans-serif;">
      Al realizar una reservación o efectuar un pago, "El Usuario" declara haber
      leído y aceptado los presentes Términos y Condiciones. El contratante es
      responsable de informar estas condiciones a todos sus acompañantes.
    </p>
    <h3
      class="text-xl font-semibold mb-2"
      style="font-family: 'Poppins', sans-serif;"
    >
      15. Contacto
    </h3>
    <p class="mb-4" style="font-family: 'Poppins', sans-serif;">
      Correo electronico: losgapapandostapalpa@gmail.com<br />
      Tel de contacto: +52 33 1848 5469
    </p>
  </div>
</div>